
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.navItem {
  float: left;
}

.navLink {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navLink:hover {
  background-color: #ddd;
  color: black;
  transition-duration: 0.4s;
}

.title {
  font-size: 2rem;
  color: #474747;
  text-align: center;
  font-family: 'Google Sans', 'Roboto', sans-serif;
  font-size: 5rem;
  -webkit-text-stroke: 2px #ffffff;
}

  .subtitle {
  font-size: 1.5rem;
  color: #ffffff; 
  text-align: center;
  }

.image {
  display: block;
  max-width: 600px;
  width: 100%;
  height: auto;
  margin: 1.5rem auto;
  border-radius: 8px;
}

.about{
  font-size: 1.2rem;
  color: #ffffff;
  text-wrap : wrap;
  text-align: left;
  width: 500px;
  height: 500px;
  border: 15px solid rgb(85, 81, 81);
  padding: 50px;
  margin-left: auto;
  margin-right: 150;

}

.mystuff{
  font-size: 1.2rem;
  color: #ffffff;
  text-wrap : wrap;
  text-align: left;
  width: 800px;
  height: auto;
  border: 15px solid rgb(85, 81, 81);
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
   border: 4px solid #fff; 
  box-shadow: 
    0 0 5px #fff,                        /* Core sharp white glow */
    0 0 10px #fff,                       /* Soft white bleed */
    0 0 20px #00f3ff,                    /* Inner color glow (Cyan) */
    0 0 40px #00f3ff,                    /* Outer color bleed */
    inset 0 0 15px #00f3ff;              /* Inward facing glow */

}

.info{
  font-size: 1.2rem;
  font-family: 'Google Sans', 'Roboto', sans-serif;
  color: #ffffff;
  text-wrap : wrap;
  text-align: left;
  width: 950px;
  height: auto;
  border: 15px solid rgb(255, 255, 255);
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
 border: 4px solid #fff; 
  box-shadow: 
    0 0 5px #fff,                        /* Core sharp white glow */
    0 0 10px #fff,                       /* Soft white bleed */
    0 0 20px #00f3ff,                    /* Inner color glow (Cyan) */
    0 0 40px #00f3ff,                    /* Outer color bleed */
    inset 0 0 15px #00f3ff;              /* Inward facing glow */


}

/* @keyframes flipAnimation {
  0% { transform: perspective(400px) rotateY(0); }
  100% { transform: perspective(400px) rotateY(360deg); }
}

.title:hover {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  animation-name: flipAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: both;
} */

@keyframes slideDownAnimation {
  0% { transform: translateY(-100px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.titleContainer {
  animation-name: slideDownAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}

.title:hover {
  text-shadow: 10px 10px 15px rgba(0,0,0,1);
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: both;
  transition-duration: 0.4s;
  font-family: 'Google Sans', 'Roboto', sans-serif;
  text-shadow: rgba(0, 89, 255, 0.96) 0px 0px 24px;
}

.title{
  transition-duration: 0.4s;
  font-family: 'Google Sans', 'Roboto', sans-serif;
}
.logo{
  display: block;
  max-width: 300px;
  width: 50%;
  height: auto;
  margin: 1.5rem auto;
  transition-duration: 0.4s;

}

.logo:hover {
  transform: scale(1.1);
  transition-duration: 0.4s;
}

@keyframes pulseAnimation {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.15); }
}

.kogane:hover {
 transform: scale(1.1);
  transition-duration: 0.4s;
}
.kogane {
  display: block;
  max-width: 300px;
  width: 100%;
  height: auto;
  margin: 1.5rem auto;
  transition-duration: 0.4s;
}

.card-container {
  width: 300px;
  border-radius: 12px;
  padding: 16px;
  background-color: #363636;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 0.9;
}

.gridcard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1px;
  justify-items: center;
}
  



.card-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    box-shadow: 
    0 0 5px #fff,                        /* Core sharp white glow */
    0 0 10px #fff,                       /* Soft white bleed */
    0 0 20px #00f3ff,                    /* Inner color glow (Cyan) */
    0 0 40px #00f3ff,                    /* Outer color bleed */
    inset 0 0 15px #ffffff;              /* Inward facing glow */

}

/* Card inner elements */
.card-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card-title {
  font-size: 1.25rem;
  margin: 0 0 8px 0;
  color: #ffffff;
  padding: 12px;
}

.card-description {
  font-size: 1rem;
  color: #ffffff;
  margin: 0;
}

.projectview{
  font-size: 1.2rem;
  color: #ffffff;
  text-wrap : wrap;
  text-align: center;
  width: 800px;
  height: auto;
  border: 15px solid rgb(85, 81, 81);
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
   border: 4px solid #fff; 
  box-shadow: 
    0 0 5px #fff,                        /* Core sharp white glow */
    0 0 10px #fff,                       /* Soft white bleed */
    0 0 20px #00f3ff,                    /* Inner color glow (Cyan) */
    0 0 40px #00f3ff,                    /* Outer color bleed */
    inset 0 0 15px #00f3ff;              /* Inward facing glow */
}

.mystuff2{
  font-size: 1.2rem;
  color: #ffffff;
  text-wrap : wrap;
  text-align: left;
  width: 800px;
  height: auto;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 
    0 0 5px #fff,                        /* Core sharp white glow */
    0 0 10px #fff,                       /* Soft white bleed */
    0 0 20px #00f3ff,                    /* Inner color glow (Cyan) */
    0 0 40px #00f3ff,                    /* Outer color bleed */
    inset 0 0 15px #00f3ff;              /* Inward facing glow */
}


.projectlogo {
  display: block;
  width: 500px;
  height: 350px;
  margin: 1.5rem auto;
  transition-duration: 0.4s;
}

.projectlogo:hover {
  transform: scale(1.1);
  transition-duration: 0.4s;
}



.emani1:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    box-shadow: 
    0 0 5px #fff,                        /* Core sharp white glow */
    0 0 10px #fff,                       /* Soft white bleed */
    0 0 20px #ff0000,                    /* Inner color glow (Cyan) */
    0 0 40px #ff0000,                    /* Outer color bleed */
    inset 0 0 15px #ffffff;              /* Inward facing glow */
}

.me{
  display: block;
  width: 500px;
  height: 250px;
  margin: 1.5rem auto;
  transition-duration: 0.4s;
}

.me:hover {
  transform: scale(1.1);
  transition-duration: 0.4s;
    box-shadow: 
    0 0 5px #fff,                        /* Core sharp white glow */
    0 0 10px #fff,                       /* Soft white bleed */
    0 0 20px #f01ff0,                    /* Inner color glow (Cyan) */
    0 0 40px #00f3ff,                    /* Outer color bleed */
    inset 0 0 15px #00f3ff;              /* Inward facing glow */
}

.gridcard3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1px;
  justify-items: center;
}

.emani1 {
  display: block;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  transition-duration: 0.4s;
  width: 500px;
  border-radius: 12px;
  padding: 16px;
  background-color: #363636;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 0.9;
  margin: 0 auto;
}